/* */
body {
  display: grid;
  place-items: center;
  min-height: 60vh;
}

.flex {
  display: flex;
  gap: 20px;
}

.flex-child {
  display: block;
  width: 100px;
  height: 100px;
  margin-block-end: 20px;
  background-color: mediumslateblue;
}
